table.cal {
    border-spacing: 0px;
    border-collapse: collapse;
    /* border-collapse:separate; */
    color: #555;	
	width: 100%;
    /* width: 50%; */
    max-width: 600px;
    min-width: 400px;
    background-color: rgb(246, 243, 228);
}
.cal th {
    /* background-color: #f5f5f5; */
    background-color: #37682b69;
    text-align: center;
    padding: 10px 0 10px 6px;
    /* border-top: 1px solid #aaa; */
    border: 1px solid #aaa;
}
.cal td{
	text-align: center;
	/* border-top: 1px solid #aaa; */
    border: 1px solid #aaa;
	/* padding: 10px 0 10px 6px; */
    height: 50px;
}

.kuuhaku{
    background-color: #aaaaaa4a;
}



.ok {

}

.ok:hover{
    background-color: gold;
}

.ng {
    background-color: #aaaaaa4a;
}

.sun {
    color: red;
/* background-color: aqua;    */
}

.sat{
    color:blue;
}


.xyz{
    /* width:fit-content; */
    display: flex;
    /* display:inline-block; */
    align-items: center;
    font-size: 14px;
    background-color: rgba(127, 255, 212, 0);
    height: 24px;
    padding-left: 6px;
    /* text-align: left; */
    /* width: 49.163px; */
}

.yyy{
    background-color:rgba(240, 136, 217, 0);
    height: 24px;
}

.zzz{
    background-color:rgba(236, 240, 136, 0);
    height: 24px;
}

.xxx{
    background-color: rgba(100, 148, 237, 0);
    height: 24px;
}

.today_mark{
   background-color: rgba(245, 122, 237, 0.227);
   width: 22px;
   border-radius: 43%; 
}




/* tbody {
    display: block;
    height: 100px; 
    overflow: auto;
  }
  
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; 
  } */
  

  .number-circle {
    position: relative;
    width: 23px; /* 望むサイズ */
    height: 23px;
    background-color: #d667c07b; /* 色を自分で選んでください */
    border-radius: 50%; /* これが円形にする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.number-circle .number {
    color: white; /* 数字の色を選択 */
    font-size: 1em; /* 数字のサイズを調整 */
}
